{% extends 'admin/adminMaster.html' %}  
{% load static %}      
{% block admincontent %}
<main>
            <div class="main__container">
                <div class="main__title">
                    <img src="assets/hello.svg">
                    <div class="main__greeting">
                        <h1>Hello Admin</h1>
                        <p>Welcome to User Management</p>
                    </div>
                </div>

                <div class="main__cards">
                   
                    <div class="cards">
                        <i class="fa fa-bomb fa-2x text-lightblue"></i>
                        <div class="cards__inner">
                            <p class="text-primary-p">Total Users</p>
                            <span class="font-bold text-title">651</span>
                        </div>
                    </div>

                    <div class="cards">
                        <i class="fa fa-money fa-2x text-red"></i>
                        <div class="cards__inner">
                            <p class="text-primary-p">New Users</p>
                            <span class="font-bold text-title">15</span>
                        </div>
                    </div>

                    <div class="cards">
                        <i class="fa fa-anchor fa-2x "></i>
                        <div class="cards__inner">
                            <p class="text-primary-p">New Restaurants</p>
                            <span class="font-bold text-title">10</span>
                        </div>
                    </div>

                    <div class="cards">
                        <i class="fa fa-percent fa-2x t"></i>
                        <div class="cards__inner">
                            <p class="text-primary-p">Growth % </p>
                            <span class="font-bold text-title">25</span>
                        </div>
                    </div>
                
                </div>

                <div class="charts_user">

                    <div class="charts__left">
                        <div class="charts__left__title">
                            <div>
                                <h1>Daily Reports</h1>
                                <p>Ahmedabad, Gujarat, India</p>
                            </div>
                            <i class="fa fa-inr"></i>
                        </div>
                        <div id="apex1"></div>
                    </div>

                    <br>
                    <br>
                    

                    <div class="charts__right">
                        <div class="charts__right__title">
                            <div>
                                <h1>User Segmentation</h1>
                                <p>For Ahmedabad, Gujarat, India</p>
                            </div>
                            <i class="fa fa-inr"></i>
                        </div>
                        
                        <div class="charts__right__cards">
                           
                            <div class="card1">
                                <h1>Admin</h1>
                                <p>1</p>
                            </div>

                            <div class="card2">
                                <h1>Users</h1>
                                <p>500</p>
                            </div>

                            <div class="card3">
                                <h1>Restaurants</h1>
                                <p>150</p>
                            </div>

                            <div class="card4">
                                <h1>Total Users</h1>
                                <p>651</p>
                            </div>
                        
                        </div>
                    </div>
                </div>

                <br><br>
                <!--User Table Part START-->
                <div class="charts_user">
                    <div class="table_container">
                        <div class="table_title">
                            <div>
                                <h1>User Details</h1>
                                <p>Data From User Table</p>
                            </div>
                        <hr>
                        <br>
                        <table class="tg">
                            <thead class="table_header">
                              <tr>
                                <th>User ID</th>
                                <th>Type ID</th>
                                <th>User Name</th>
                                <th>Mobile Number</th>
                                <th>Email Address</th>
                                <th>Address</th>
                                <th>Date Of Birth</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table_row">
                                <td class="tg-0lax">101</td>
                                <td class="tg-0lax">2</td>
                                <td class="tg-0lax">Sahil</td>
                                <td class="tg-0lax">99749*****</td>
                                <td class="tg-0lax">sahilmansuri@xyz.com</td>
                                <td class="tg-0lax">A/201 Ajwad</td>
                                <td class="tg-0lax">10/01/2001</td>
                                
                              </tr>
                              <tr class="table_row">
                                <td class="tg-0lax">102</td>
                                <td class="tg-0lax">3</td>
                                <td class="tg-0lax">McDonalds</td>
                                <td class="tg-0lax">079-2526***</td>
                                <td class="tg-0lax">mcd@xyz.com</td>
                                <td class="tg-0lax">GF, Wide Angle Cinemas </td>
                                <td class="tg-0lax">01/01/2014</td>
                                
                              </tr>
                              <tr class="table_row">
                                <td class="tg-0lax">103</td>
                                <td class="tg-0lax">1</td>
                                <td class="tg-0lax">Admin</td>
                                <td class="tg-0lax">98254****</td>
                                <td class="tg-0lax">admin@food.com</td>
                                <td class="tg-0lax">1011, Emaar Heights</td>
                                <td class="tg-0lax">20/04/1990</td>
                                
                              </tr>
                              <tr class="table_row">
                                <td class="tg-0lax">104</td>
                                <td class="tg-0lax">2</td>
                                <td class="tg-0lax">Ashley</td>
                                <td class="tg-0lax">110-7854****</td>
                                <td class="tg-0lax">ash@xyz.com</td>
                                <td class="tg-0lax">24, Classic Villas</td>
                                <td class="tg-0lax">01/06/1995</td>
                                
                              </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
                <!--User Table Part END-->
            </div>
        </main>
        
    <!--Apex Charts cdn-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
{% endblock %}