{% load static %}
<!DOCTYPE>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="{% static 'login/signUpStyles.css'%}">
    </head>

    <body>
        <h1 class="heading">
            Signup Today 
        </h1>

        
            <div class="container">
            <form action="">
                <div class="row">
                    <label for="">Email ID</label>
                    <input type="text" required>
                </div>

                <div class="row">
                    <label for="">User Name</label>
                    <input type="text" required pattern="[A-Zaz]">
                </div>

                <div class="row">
                    <label for="">Mobile Number</label>
                    <input type="text" required maxlength="10">
                </div>

                <div class="row">
                    <label for="">Address</label>
                    <input type="text" required maxlength="150">
                </div>

                <div class="row">
                    <label for="">Password</label>
                    <input type="password" required minlength="6" maxlength="10">
                </div>

                <div class="lastRow">
                    <button type="submit">Sign up</button>
                </div>
            </form>
            </div>
        
        
    </body>
</html>