{% extends 'restaurants/restaurantMaster.html' %}
{% load static %}
{% block mycontent %}
        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="{%static 'admin/images/hello.svg'%}">
                    <div class="main__greeting">
                        <h1>Hello Admin</h1>
                        <p>Welcome to Delivery Management</p>
                    </div>
                </div>

                

                <div class="charts_user">


                    <br>
                    <br>
                    


                </div>

                <br><br>
                <!--User Table Part START-->
                <div class="charts_user">
                    <div class="table_container">
                        <div class="table_title">
                            <div>
                                <h1>Delivery Details</h1>
                                <p>Data From Delivery Table</p>
                            </div>
                        <hr>
                        <br>
                        <table class="tg">
                            <thead class="table_header">
                              <tr>
                                <th>Delivery ID</th>
                                <th>Delivery Status</th>
                                <th>Address</th>
                                <th>Order ID</th> 
                              </tr>
                            </thead>

                            <tbody>
                              <tr class="table_row">
                                <td class="tg-0lax">01</td>
                                <td class="tg-0lax">Delivered</td>
                                <td class="tg-0lax">13, 2nd floor Juhapura</td>
                                <td class="tg-0lax">101</td>
                              </tr>

                              <tr class="table_row">
                                <td class="tg-0lax">02</td>
                                <td class="tg-0lax">Out For Delivery</td>
                                <td class="tg-0lax">11, 4th floor, Rajbhoomi Aparts</td>
                                <td class="tg-0lax">102</td>
                             </tr>

                              <tr class="table_row">
                                <td class="tg-0lax">03</td>
                                <td class="tg-0lax">Preparing</td>
                                <td class="tg-0lax">302, 3rd floor Sunny PG</td>
                                <td class="tg-0lax">103</td>
                             </tr>

                            </tbody>
                            </table>
                    </div>
                </div>
                <!--User Table Part END-->
            </div>
        </main>
        
    </div>
    <!--Apex Charts cdn-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
    {% endblock %}