{% extends 'restaurants/restaurantMaster.html' %}
{% load static %}

{% block mycontent %}
        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="{%static 'admin/images/hello.svg'%}">
                    <div class="main__greeting">
                        <h1>Hello</h1>
                        <p>Welcome to Food Item Management</p>
                    </div>
                </div>

                
                <div class="charts_food" style="margin-top: 50px">

                    <div class="charts__left">
                        <div class="charts__left__title">
                            <div>
                                <h1>Food Items</h1>
                                <p>Add/Update food items</p>
                            </div>
                            
                        </div><br>


                        <div class="food">
                            <form id="addForm">
                                <div class="formInputs">
                                    <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
                                    <input type="number" class="user-input" placeholder="Food Item ID" maxlength="10"/>
                                </div>
                                
                                <div class="formInputs">
                                    <i class="fa fa-lemon-o fa-2x" aria-hidden="true"></i>
                                    <input type="text" class="user-input" placeholder="Food Item Name" minlength="5" maxlength="25"/>
                                </div>

                                <div class="formInputs">
                                    <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
                                    <input type="text" class="user-input" placeholder="Food Item Category" />
                                </div>

                                <div class="formInputs">
                                    <i class="fa fa-inr fa-2x" aria-hidden="true"></i>
                                    
                                    <input type="number" class="user-input" placeholder="Food Item Price" style="margin-left: 10px;"/>
                                </div>
                            </form>
                            
                            <div class="formInputs">
                                <input type="button" class="button1" value="ADD" />             
                                <input type="button" class="button1" value="UPDATE" />
                            </div>
                                
                        </div>

                        <div class="food">
                            
                        </div>

                    </div>

                    <br>
                    <br>
                    

                    <div class="charts__right">
                        <div class="charts__right__title">
                            <div>
                                <h1>Food Categories</h1>
                                <p>For Ahmedabad, Gujarat, India</p>
                            </div>
                            <i class="fa fa-inr"></i>
                        </div>
                        
                        <div class="charts__right__cards">
                           
                            <div class="card1">
                                <h1>North-Indian</h1>
                                <p>35</p>
                            </div>

                            <div class="card2">
                                <h1>Chinese</h1>
                                <p>20</p>
                            </div>

                            <div class="card3">
                                <h1>South-Indian</h1>
                                <p>15</p>
                            </div>

                            <div class="card4">
                                <h1>Rajasthani</h1>
                                <p>15</p>
                            </div>
                        
                        </div>
                    </div>
                </div>

                <br><br>
                <!--User Table Part START-->
                <div class="charts_user">
                    <div class="table_container">
                        <div class="table_title">
                            <div>
                                <h1>Food Details</h1>
                                <p>Data From Food Items Table</p>
                            </div>
                        <hr>
                        <br>
                        <table class="tg">
                            <thead class="table_header">
                              <tr>
                                <th>F_ID</th>
                                <th>F_category_ID</th>
                                <th>F_Name</th>
                                <th>F_Price</th>
                              </tr>
                            </thead>

                            <tbody>

                              <tr class="table_row">
                                <td class="tg-0lax">101</td>
                                <td class="tg-0lax">01</td>
                                <td class="tg-0lax">Paneer Chilli</td>
                                <td class="tg-0lax">180</td>   
                              </tr>

                              <tr class="table_row">
                                <td class="tg-0lax">201</td>
                                <td class="tg-0lax">02</td>
                                <td class="tg-0lax">French Fries</td>
                                <td class="tg-0lax">80</td>
                              </tr>

                              <tr class="table_row">
                                <td class="tg-0lax">301</td>
                                <td class="tg-0lax">03</td>
                                <td class="tg-0lax">Masala Dosa</td>
                                <td class="tg-0lax">120</td>
                              </tr>
                              <tr class="table_row">
                                <td class="tg-0lax">401</td>
                                <td class="tg-0lax">04</td>
                                <td class="tg-0lax">Dal-Rice Combo</td>
                                <td class="tg-0lax">180</td>
                              </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
                <!--User Table Part END-->
            </div>
        </main>
        
    <!--Apex Charts cdn-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
{%endblock%}