{% extends 'restaurants/restaurantMaster.html' %}
{% load static %}

{% block mycontent %}

        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="assets/hello.svg">
                    <div class="main__greeting">
                        <h1>Hello</h1>
                        <p>Welcome to Payment Management</p>
                    </div>
                </div>

                
                <div class="charts_user">

                    

                </div>

                <br><br>
                <!--User Table Part START-->
                <div class="charts_user">
                    <div class="table_container">
                        <div class="table_title">
                            <div>
                                <h1>Payment Details</h1>
                                <p>Data From Payment Table</p>
                            </div>
                        <hr>
                        <br>
                        <table class="tg">
                            <thead class="table_header">
                              <tr>
                                <th>Payment ID</th>
                                <th>Order ID</th>
                                <th>Payment Mode</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table_row">
                                <td class="tg-0lax">001</td>
                                <td class="tg-0lax">101</td>
                                <td class="tg-0lax">Cash</td>
                                <td class="tg-0lax">04-08-2020</td>
                               </tr>

                              <tr class="table_row">
                                <td class="tg-0lax">002</td>
                                <td class="tg-0lax">102</td>
                                <td class="tg-0lax">Online</td>
                                <td class="tg-0lax">01-09-2020</td>
                              </tr>

                              <tr class="table_row">
                                <td class="tg-0lax">003</td>
                                <td class="tg-0lax">103</td>
                                <td class="tg-0lax">Cash</td>
                                <td class="tg-0lax">05-01-2021</td>
                              </tr>

                            </tbody>
                            </table>
                    </div>
                </div>
                <!--User Table Part END-->
            </div>
        </main>
        
    <!--Apex Charts cdn-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
{%endblock%}